* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

/* general styles */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.container-small {
	max-width: 600px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border-radius: 10em;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	color: black;
}

.btn-black {
	background-color: black;
	color: white;
}

header {
	background-color: #255EE9;
	/* padding: 0 1rem; */
}

.menu-top {
	height: 4em;
}

.menu-top ul {
	display: flex;
	height: 100%;
}

.menu-top li {
	list-style: none;
	display: flex;
	align-items: center;
}

.menu-top .menu-link {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1em;
	margin: 0 .3em;
	color: white;
	text-decoration: none;
	white-space: nowrap;
	/* text-transform: uppercase; */
}

.menu-top .menu-link:hover {
	background-color: aqua;
}

.menu-top .logo {
	margin-right: auto;
}

.menu-top .accedi {
	margin-left: auto;
}

.header-background {
	padding: 4rem 0 3rem;
	background-image: url("../img/jumbo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.header-content {
	text-align: center;
	color: white;
}

.header-content h1 {
	margin-bottom: 1rem;
}

.header-content p {
	margin-bottom: .5rem;
}
.text-contenitor{
    justify-content: space-between;
    width: 340px;

}
#testo{
    margin: 55px;
}
.contenitore-1{
    width: 90%;
    display: flex;
    padding: 40px;
    justify-content: center;
}
.contenitore-2{
    width: 90%;
    display: flex;
    padding: 40px;
    justify-content: center;
    flex-direction: row-reverse;
}
.contenitore-3{
    width: 90%;
    display: flex;
    padding: 40px;
    justify-content: center;
}
.contenitore-4{
    width: 90%;
    text-align: center;
    padding: 40px;
    justify-content: center;
}
.text-contenitor-2{
    align-items: center;
}
.text-contenitor-3{
    background-image: url(../img/stars.svg);
}

 /* PULSANTE+FOOTER */

.big-purple-button{
    padding: 15px 15px;
    border-radius: 25px;
    border-style: none;
    background-color: #7289da;
    color: white;
}


.footer-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    color: white;
    height: 400px;
    width: 58%;
    margin: auto;
}
.footer-box{
    height: 380px;
    width: 30%;
}
.larger-box{
    width: 70%;
}



.colore-sfondo{
    background-color: #23272a;
}

.purple-text{
    color: #7289da;
    margin-bottom: 10px;
}
.social{
    margin-top: 15px;
    font-size: 20px;
}

.flag{
    width: 25px;
}


.footer-ending-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 50%;
    margin: auto;
}
.footer-ending{
    height: 60px;
    width: 100%;
    margin-top: 20px;
}
.footer-flex-ending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo-finale{
    width: 40px;
    text-align: center;
}
.footer-bt{
    width: 60px;
    text-align: center;
}
.purple-button{
    background-color:purple;
    color: white;
}